.page {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  margin-top: 20px;
}

.image {
  width: 300px;
  height: auto;
  background-color: rgba(240, 238, 237, 100%);
  object-fit: cover;
  border-radius: 5%;
}

.name {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.box {
  width: 230px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
}

.boxImage {
  object-fit: cover;
  width: 200px;
  height: 250px;
}

.ViewMore {
  display: block;
  margin: auto;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #dfdedf;
}

.ViewMore:hover {
  background-color: #000;
  color: #fff;
}

.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.rating {
  font-size: 18px;
  font-weight: 200;
}

.givenRating {
  font-size: 18px;
  font-weight: 800;
}

.priceAndDiscount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 23px;
  font-weight: 600;
}

.priceWithDiscount {
  font-size: 23px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}

.afterDiscount {
  font-size: 23px;
  font-weight: 600;
}

.discount {
  font-size: 15px;
  color: #ff3333;
  background-color: rgba(255, 51, 51, 10%);
  padding: 3px 10px;
  border-radius: 20px;
}

@media screen and (max-width: 426px) {
  .title {
    font-size: 30px;
    font-weight: 800;
  }
}
