.box {
  background-color: black;
  color: white;
  padding: 20px;
  border: none;
  height: auto;
}

.boxInner {
  font-size: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.brand1 {
  font-family: "Courier New", Courier, monospace;
}

.brand2 {
  font-family: "Ballet", serif;
  font-weight: 100;
}

.brand3 {
  font-family: "Lucida Grande", "Lucida Sans", serif;
  font-weight: 400;
}

.brand4 {
  font-family: "Orbitron", serif;
  font-weight: 200;
}

.brand5 {
  font-family: "Imperial Script", serif;
}

@media (max-width: 768px) {
  .boxInner {
    font-size: 20px;
  }
}

@media screen and (max-width: 426px) {
  .title {
    flex-wrap: wrap;
  }

  .boxInner {
    font-size: 30px;
    flex-wrap: wrap;
  }

  .box {
    height: auto;
  }
}
