.box {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
}

.boxInner {
  font-size: 50px;
  margin: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .brand1 {
    font-family: "Courier New", Courier, monospace;
  }

  .brand2 {
    font-family: "Ballet";
    font-weight: 100;
    word-spacing: -20px;
  }

  .brand3 {
    font-family: "Lucida Grande", "Lucida Sans";
    font-weight: 400;
  }

  .brand4 {
    font-family: "Orbitron";
    font-weight: 200;
  }

  .brand5 {
    font-family: "Imperial Script";
  }
}
